body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 10px;
    color: #000000	;
    letter-spacing: 2px;
    padding: 15px;
    border-radius: 5px;
}
.two-tables{
    display: flex;
    justify-content: space-around;
    flex-direction: row-reverse;
}
.all-table{
    display: flex;
    justify-content: space-evenly;
    background: white;
    border-radius: 10px;
    margin-top: 4%;
    height: 60vh;
    overflow: auto;
}

.all-table li{
    padding: 10px;
}
.all-table2{
    display: flex;
    justify-content: space-evenly;
    background: white;
    border-radius: 10px;
    margin-top: 4%;
    height: 60vh;
    overflow: auto;
    padding: 15px;
    width: 20%;
}

h4{
    color: red;
}

button{
    padding: 15px 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    color: black;
    background-color: white;
}

.hide-btn{
    display: none;
}

.btn-start{
    text-align: center;
}

li{
    list-style: none;
    margin-bottom: 20px;
    font-family: cursive;
}

input{
    align-items: center;
    padding: 10px;
}

.btn-inp{
    display: flex;
    justify-content: space-around;
}


body {
    background: linear-gradient(
      to right,
      /* #6f7280, */
      #db3c33,
      #6c6cf1,
      #cdc6d1,
      #c1a987,
      #4fcb44
    );
    background-size: 400% 400%;
    animation: body 10s infinite ease-in-out;
  }
  
  @keyframes body {
    0% {
      background-position: 0 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0 50%;
    }
  }
 

  
  /* Scrollbar Styling */
div::-webkit-scrollbar {
    width: 10px;
}
 
::-webkit-scrollbar-track {
    background-color: #ebebeb;
    -webkit-border-radius: 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    -webkit-border-radius: 10px;
    border-radius: 10px;
    background: #6d6d6d; 
}


