body{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    margin-top: 10px;
    color: #0000CD	;
    letter-spacing: 2px;
}

h4{
    color: red;
}

button{
    padding: 15px 25px;
    background-color: black;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    font-weight: bold;
}

button:hover{
    color: black;
    background-color: white;
}

.hide-btn{
    display: none;
}

.btn-start{
    text-align: center;
}

li{
    list-style: none;
    margin-bottom: 15px;
}

input{
    align-items: center;
    padding: 10px;
}

.btn-inp{
    display: flex;
    justify-content: space-around;
}


